.section-todolist {
    height: 75vh;
}

.container {
    margin: auto 250px;
}

.content {
    margin-top: 50px;
}

.input-button {
    height: 30px;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    gap: 20px;
    margin-bottom: 50px;
}

.input-button input,
.input-button button {
    height: 100%;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
}

.input-button input {
    border: 1px solid #ced4da;
}

.input-button button {
    border: 0;
    background-color: #3E45B0;
    color: white;
    cursor: pointer;
}

.items {
    margin-bottom: 50px;
}

.task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    height: 40px;
}

.task.concluida {
    opacity: 0.7;
    text-decoration: line-through;
}

.task .titulo {
    margin-left: 15px;
}

.task:last-child {
    border-bottom: none;
}

.task input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.task input[type="checkbox"]:checked {
    background-color: #ff0000;
    border: 1px solid #b30000;
}

.delete-icon {
    margin-left: auto;
    cursor: pointer;
    color: red;
}

@media screen and (max-width: 1100px) {
    .container {
        margin: 50px 200px 0 200px;
    }

    .input-button {
        height: 100px;
        display: flex;
        flex-direction: column;
        gap: 0;
    }
}

@media screen and (max-width: 800px) {
    .container {
        margin: 50px 150px 0 150px;
    }
}

@media screen and (max-width: 700px) {
    .container {
        margin: 50px 100px 0 100px;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: 50px 50px 0 50px;
    }
}

